.formulario{
    background-color: rgba(0,0,0,0.5) !important;
    color:white;
    margin: auto;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
}

.formulario-titulo{
    background-color: rgba(0,0,0,0.5) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.Mui-focused{
    color: yellow;
}
